.header{
    @apply bg-[#323232] fixed w-[100%] z-50 pad:relative mobil:relative top-0;
    
}
.wrap{
    @apply p-[20px_40px] notebook:p-[20px_30px]  mx-auto flex justify-between items-center  relative;
}
.navigation{
    @apply duration-500;
}
.navigation__list{
    @apply flex netbook:flex-wrap netbook:justify-center gap-[30px] netbook:gap-[15px] items-center pad:items-start
    text-[rgba(255,255,255,0.6)] text-[15px] leading-[18px] pad:text-[18px]
    pad:leading-[22px] mobil:text-[16px] mobil:leading-[19px] pad:flex-col ;
}
.nav__link{
    @apply hover:text-[#ffffff] relative after:opacity-0 hover:after:opacity-[1] duration-500 after:absolute after:content-[''] after:bg-[#1A81FA]
    after:h-[2px] after:w-[8px] after:bottom-[-10px] after:left-[45%] after:duration-500 whitespace-nowrap pad:after:left-[-15px]
    pad:after:bottom-[50%];
}
.burger{
    @apply relative z-10 bg-[#434343] rounded-[5px] cursor-pointer duration-500 w-[54px] h-[40px] mobil:w-[44px] mobil:h-[34px];
    span{
        @apply  absolute h-[2px] bg-[#FFFFFF] duration-500 w-[24px] left-[28%] mobil:left-[22%];
        transition: .3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    span:nth-child(1){
        @apply  top-[25%] ;
    }
    span:nth-child(2){
        @apply  top-[48%] opacity-[1] w-[15px];
    }
    span:nth-child(3){
        @apply  bottom-[25%] ;
    }
}
.burger.open span:nth-child(1){
        @apply top-[46%] rotate-[45deg];
    }
.burger.open span:nth-child(2){
        @apply  opacity-0;
    }
.burger.open span:nth-child(3){
        @apply bottom-[48%] rotate-[-45deg];
    }

.contact{
    @apply flex flex-col gap-[2px];
    button{
        @apply text-[rgba(255,255,255,0.6)] text-[13px] leading-[16px] mobil:text-[12px] mobil:leading-[14px] hover:text-[#ffffff] duration-500 text-right;
    }
}
    