.steps__angars{
    @apply bg-[#1A81FA] p-[160px_0_180px_0] pad:p-[120px_0_120px_0] mobil:p-[80px_0_80px_0] text-[#ffffff];
    background-image: url('../../public/img-10.svg'),url('../../public/img-11.svg'),url('../../public/img-12.svg'),url('../../public/img-13.svg'); 
	background-repeat: no-repeat; 
	background-position: 34% 200px, 50% 170px, 69% 320px, 30% 350px;
    @media (max-width: 768px){
            background-position: 90% 160px, 10% 200px, 105% 330px, -3% 375px;
    }
    @media (max-width: 480px){
            background-image: url('../../public/img-11.svg'),url('../../public/img-12.svg'),url('../../public/img-13.svg'); 
            background-position:  -12% 20px, 105% 125px, 5% 320px;
    }
    h2{
        @apply max-w-[250x] pad:max-w-[100%] mobil:max-w-[100%] text-[#ffffff] text-center ;
    }
    img{
        @apply justify-center
    }
}
.swiper-button-next {
    @apply static w-[60px] h-[60px] rounded-[50%] p-[25px_27px]  after:hidden duration-500 bg-[#3E97FF];
}

.mySwiper{
    position: relative;
     .swiper-pagination-progressbar-fill{
        background: rgb(255, 255, 255) !important;
      }
      .swiper-button-next {
        @apply static w-[60px] h-[60px] rounded-[50%] p-[25px_27px]  after:hidden duration-500 bg-[#3E97FF];
    }
}
.swiper {
    width: 100%;
    height: auto;
    background: #000 !important;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
  
  .swiper .swiper-slide {
    height: 300px;
    line-height: 300px;
  }
  
  .swiper .swiper-slide:nth-child(2n) {
    height: 500px;
    line-height: 500px;
  }
  .swiper-pagination .swiper-pagination-progressbar .swiper-pagination-horizontal{
    background: rgb(255, 255, 255) !important;
  }